* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --brand-color: #F2B47E;
    --background-color: #401717;
    --surface-color: #733224;
    --skeleton-color: #d9d9d9;
    --footer-background: #4c4c4c;
    --text-color-primary: #F2B47E;
    --text-color-secondary: #D9814E;

    --font-family: "poppins", sans-serif;
    --text-lg: bold 24px/125% var(--font-family);
    --text-md: 14px/170% var(--font-family);
}

body {
    font-family: var(--font-family);
    color: var(--text-color-secondary);
    background-color: var(--surface-color);
}

.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 90rem;
}

a {
    font: var(--text-lg);
    color: var(--text-color-primary);
}

p {
    font-family: var(--font-family);
    font: 18px/125% var(--font-family);
    ;
}

a:hover {
    text-decoration: underline;
    color: var(--brand-color);
}

h1 {
    color: var(--brand-color);
}

h2 {
    font: bold 32px/125% var(--font-family);
    ;
    color: var(--brand-color);
}


/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.25rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding-block: 0.5rem;
}


.second-background {
    background-color: var(--background-color);
}

/* seçao problema  */

.topico,
.topico-inverso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    padding-top: 2%;
    margin-top: 0.5%;
    gap: 4rem;
    width: 100%;
}

.texto-inverso,
.texto {
    flex: 1;
    max-width: 40rem;

}


.topico img,
.topico-inverso img {
    border: var(--brand-color) solid 3px;
    border-radius: 18px;
    width: 100%;
    max-width: 24rem;
    /* Ajuste o tamanho máximo da imagem aqui se preferir */
    height: auto;
    object-fit: cover;

}

/* footer */

footer {
    background-color: var(--footer-background);
}

.novidade {
    display: flex;
    justify-content: center;
    align-items: center;
}